{% extends 'bootstrap4/bootstrap4.html' %}
{% load bootstrap4 %}
{% block bootstrap4_title %}{% block title %}{% endblock %}{% endblock %}
{% block bootstrap4_before_content %}
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="#">Home</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="{% url 'upload' %}">Upload</a>
  </li>
</ul>
{% endblock %}
{% block bootstrap4_content %}
{% endblock bootstrap4_content %}
  </body>
</html>
