{% extends '_base.html' %}
{% load staticfiles bootstrap4 %}
{% block css %}

    <link rel="stylesheet" href="{% static 'cards-gallery.css' %}">
{% endblock css %}
{% block bootstrap4_content %}
{% bootstrap_messages %}
   <section class="gallery-block cards-gallery">
	    <div class="container">
	        <div class="heading">
	          <h2>Pets Gallery</h2>
	        </div>
	        <div class="row">
                    {% for photo in photos %}
	            <div class="col-md-2 col-lg-4">
	                <div class="card border-0 transform-on-hover">
	                	<a class="lightbox" href="/static/img/image1.jpg">
                            <img src="{{ photo.photo.url }}" alt="Missing foto" class="card-img-top" width="200">
	                	</a>
	                    <div class="card-body">
                            Pet name<h3>{{ photo.pet.name }}</h3>
                            <p class="text-muted card-text">Owner {{ photo.pet.nickname }}.</p>
                            <p class="text-muted card-text">Votes {{ photo.pet.votes }}.<h2><a href="{% url 'vote' photo.pet.id %}" /> +</a></H2></p>
	                    </div>
	                </div>
	            </div>
                {% endfor %}
    	    </div>
        </div>
    </section>
{% endblock bootstrap4_content %}
