{% load staticfiles %}
{% block bootstrap4_content %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
{{ form }}
<input type ="submit" name="upload" />
</form> 
        <div id="cropper"></div>
        <button class="rotate" data-deg='90'>Rotate</button>
{% endblock bootstrap4_content %}
{% block bootstrap4_extra_script %}
    {{ form.media }}


{% endblock %}

